<!DOCTYPE html>
<html>
<head>
    <style>
        .otp-box {
            font-size: 24px;
            font-weight: bold;
            background-color: #f3f3f3;
            padding: 10px 20px;
            border-radius: 6px;
            display: inline-block;
            margin-top: 10px;
        }
        .container {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
    </style>
</head>
<body>
<div class="container">
    <p>Hello,</p>
    <br />
    <p>Your one-time password (OTP) is:</p>
    <div class="otp-box">
        [[${otp}]]
    </div>
</div>
</body>
</html>